<!DOCTYPE html>
<html>
<head>
  <title>A Single Link</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "print/print.css", :media => "print" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="container">
		<div class="span-24">
			<div class="span-20">
				<h1 class="loud">
					A Single Link
				</h1>
				 <h4 class="alt">Reasonable discussions.</h4>
				<% if ! @user.nil? %>
					<a href="/submit_link">submit a link</a>
				<% end %>
			</div>
			<div class="span-4 last">
				<div class="box">
					<% if @user.nil? %>
						<a href="/auth/facebook">Login</a>
					<% else %>
						Hello <%= @user.first_name %> <%= @user.last_name %><br/>
						<a href="/sign_out">Logout</a>
					<% end %>
				</div>
			</div>
		</div>
		<hr />
<%= yield %>
		<div class="span-4 last">
			<div class="box">
				right sidebar
			</div>
		</div>
	</div>
</body>
</html>
